@import url('https://fonts.googleapis.com/css2?family=Padauk:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider-container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 0;
    position: relative;
    overflow: hidden;

}

.sliders {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 360px;
    gap: 20px;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.slider {
    min-width: calc((100% / 3) - 20px);
    height: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
    background-color: #35012C;
    color: white;
    position: relative;
    overflow: hidden;
    transition: all .3s ease-in-out;

}

.slider::after {
    content: '';
    position: absolute;
    top: 360px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(138, 24, 245, 0.295);
    transition: all .3s ease-in-out;
}

.slider:hover::after {
    top: 0px;
    transition: all .3s ease-in-out;
}

/* background-color: #8a18f5; */
.description {
    color: #ccbec9;
    font-style: italic;
    z-index: 9;
    font-family: "Padauk", sans-serif;
    font-size: 20px;
}

.ratting {
    color: #fec42d;
    z-index: 9;
}

.profile {
    display: flex;
    justify-content: start;
    align-items: center;
    z-index: 9;
    gap: 20px;
}

.profile h2 {
    font-size: 20px;
}

.profile p {
    text-transform: uppercase;
    color: #82627c;
    font-size: 14px;
    letter-spacing: 1px;
}

.profile-image {
    width: 70px;
    height: 70px;
}

.profile-image img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.indicators {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
    position: absolute;
    bottom: 0;
}

.indicators .dot {
    width: 10px;
    height: 10px;
    background-color: #35012c8f;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.indicators .active {
    width: 40px;
    height: 10px;
    background-color: #35012cc7;
    transition: all .3s ease-in-out;
}

@media screen and (max-width: 550px) {
    /* .slider-container {
        height: 100%;
    } */

    .slider {
        min-width: 95%;
        height: 100%;
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        background-color: #35012C;
        color: white;
        position: relative;
        overflow: hidden;
    }

    .description {
        font-size: 16px;
    }

    .profile-image {
        width: 60px;
        height: 60px;
    }

    .profile h2 {
        font-size: 18px;
    }

    .profile p {
        font-size: 12px;
    }
}